h1 {
      text-align: center;
      color: Purple;
      font-size: 28pt;
}

h2 {
      color: Pink;
      font-size: 28pt;
}
h3 {
      color: Red;
      font-size: 28pt;
}

h4 {
      color: Black;
      font-size: 28pt;
}

h5 {
      text-align: center;
      color: Blue;
      font-size: 28pt;
}


/*links*/
a:link {
    color: black;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: purple;
} 
/* End links */

body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/81/21/1f/81211f1a096594be0a762715e8dc6e38.png")
}

p.intro{
      text-align: center;
}
