

h1 {
      text-align: center;
      color: Purple;
      font-size: 28pt;
}

h2 {
      color: Pink;
      font-size: 28pt;
}
h3 {
      color: Red;
      font-size: 28pt;
}

h4 {
      color: Black;
      font-size: 28pt;
}

h5 {
      text-align: center;
      color: Blue;
      font-size: 28pt;
}

h7 {
      color: Black;
      font-size: 28pt;
}


/*links*/
a:link {
    color: black;
}

a:visited {
    color: blue;
}

a:hover {
    color: red;
}

a:active {
    color: purple;
} 
/* End links */

body {
    background-image: url("https://i.ytimg.com/vi/OzmzZcelNl0/maxresdefault.jpg");

}

p.intro{
      text-align: center;
      background-color: white;
      height: 100px;
      width: 70x;
}
p.loophole{
      text-align: center;
}
